.footer {
    background-color: black;
    display: grid;
    place-content: center;
    grid-template-rows: 50px repeat(5, 40px);
    grid-template-columns: repeat(4, 150px);

    &__title {
        font-weight: bold;
        font-size: 1.5em;
        display: grid;
        grid-column: 1/6;
        place-content: center;
    }

    &__secondaryTitle {
        color: burlywood;
    }

    &__icon {
        display: grid;
        grid-row: 2/-1;
        place-self: center;
    }

    &__map {
        grid-column: -1;
        grid-row: 4/-1;
        height: 100px;
    }
}